{% extends 'base.html' %}
{% block title %}Home {% endblock title %}Home 
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="{%static 'css/style.css' %}">
    <link rel="stylesheet" href="{%static 'css/footer.css' %}">
    <link rel="stylesheet" href="{%static 'css/util.css' %}">

</head>
<body>
{% block Body %}
    <div class="Container">
        <div class="butt">
            <img class="clgpic" src="{% static 'img/clgimg.jpg' %}">
        </div>
        <p style="padding: 2vw;">

            N. G. Acharya & D. K. Marathe College of Arts, Science & Commerce was established in 1978 by Chembur Trombay Education Society. It is ideally located in the heart of Chembur on N. G. Acharya Marg between Chembur and Govandi railway Stations and is served by a number of BEST bus routes.<br><br>
            
     As the first degree college in Chembur, it was started with the aim to cater higher education needs of students from Chembur and the neighbouring areas. The college is affiliated to the University of Mumbai. We are blessed with the dedicated, experienced and well qualified <br><br>
     
     Our college conducts HSC course in Arts / Science / Commerce in Junior College affiliated Maharashtra State Board of Higher Secondary.
     
     </p>
     <div class="pad">
     <div class="redbox">
     <strong>
         Vision:
     </strong>
     <ul>
     <li> To provide higher education opportunities to all, especially to the socially, academically and economically disadvantaged students, so as to make them good citizens and eventually good human beings.</li>
     </ul></div>
     <br>
     <div class="greenbox">
     <strong>Mission:</strong>
     <ul>
         <li>
         To help the first generation learners to realize his/her potential by offering wider choice of academic programs and motivating to participate in co-curricular and extra-curricular activities. Therefore to transform the student into a responsible, sensitized citizen by providing value-based education at affordable cost.
     </li>
     </ul>
     </div>
     <br>
     <div class="bluebox">
     <strong> Objectives:</strong>
     <ul>
         <li>
             To cater to the higher education needs of the wards of parents belonging to lower socio-economic and academic strata of the society.
     </li>
     <li>To introduce skill enhancing courses to make students cope-up with ever changing needs of the industry.
         To enhance and upgrade use of technology in teaching-learning, evaluation and administration as an ongoing process.
     </li>
     <li>
     To continuously improve the quality, systems and processes in search for excellence.
     </li>
     <li>
     To make students sensitized about gender discrimination, environment appreciation and protection and current societal issues.
     </li>
     <li>
     To instill high moral values and scientific temperament in the young minds so as to shape them to build a strong and progressive nation.
     </li></ul></div></div>
    </div>
    <div style="padding :10px;"></div>
    {% if status %}
    <script>
        alert("{{status}}");
        window.location="/"
    </script>
    {% endif %}
{% endblock Body %}
</body>
</html>